# Google AI Studio key (https://aistudio.google.com/apikey)
GEMINI_API_KEY=
# Model mặc định nếu client không gửi lên
GEMINI_TTS_MODEL=gemini-2.5-flash-preview-tts

# FPT.AI key (console.fpt.ai)
FPT_API_KEY=
FPT_TTS_URL=https://api.fpt.ai/hmi/tts/v5
